.movie-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.movie-wrapper::after {
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(225.82deg, #352F44 24.16%, #5C5470 87.91%);
    position: fixed;
    top: 50px;
    left: -75px;
    z-index: -1;
}
.movie-wrapper::before {
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(225.82deg, #352F44 24.16%, #5C5470 87.91%);
    position: fixed;
    bottom: 50px;
    right: -75px;
    z-index: -1;
}

#filter-btn {
    right: 0;
    min-width: 100px;
    height: 40px;
}
.header__links {
    display: flex;
    justify-content: space-between;
}
.center {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.movies {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    grid-gap: 20px;
    justify-content: center;
    flex-grow: 1;
}
.place-right {
    display: flex;
    justify-content: end;
    flex-shrink: 0;
  }
.film-poster {
    background: #000;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.small-poster{ 
    width: 100%;
    height: 200px;
}
.film-description {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background: #000000ce;
    border-radius: 0 0 10px 10px;
}
.card {
    width: 340px;
    height: 250px;
    font-size: 16px;
    position: relative;
    margin-bottom: 80px;
}
.film-name {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.film-duration {
    max-width: 30%;
}
.film-description::before {
    content: "";
    width: 340px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000057;
    border-radius: 10px;
}
.film-description:hover::before {
    opacity: 0;
    cursor: pointer;
}
.film-rate {
    width: 50px;
    height: 22px;
    position: absolute;
    left: -10px;
    top: 10px;
   
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
}
.good-rate {
    background-color: #246724;
}
.bad-rate {
    background-color: #5B5B5B;
}